doctype html
html(lang='pl-PL')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Admad - Zadanie - Krzysztof Baraniecki

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#') Admad - Zadanie - Krzysztof Baraniecki

        .container.mt-5
            .row(data-navigation)
                .col-12.col-md-6
                    label.form-label(for="inputName") Nazwa filmu:
                    input.form-control(id="inputName")
                .col-12.col-md-6
                    label.form-label(for="inputGroupSelect") Typ filmu:
                    select.form-select(id="inputGroupSelect")
                        option(value="") 
                        option(value="movie") Film
                        option(value="series") Serial
                        option(value="episode") Epizod

        .container.mt-5
            .table-responsive
                table.table.table-striped(data-table)
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Zdjęcie
                            th(scope='col') Tytuł
                            th(scope='col') Rok
                            th(scope='col') Rodzaj
                    tbody 
                        <tr>
                            td(colspan="5") 
                                p.h3.text-center.py-3 Jakiego dziś filmu szukamy?

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
